<div>
  <p>
    <mat-toolbar>
      <mat-icon class="material-icons-round">waving_hand</mat-icon>
      <span class="name">
        {{ applicationName }}
      </span>
      <span class="purpose">
        Jednoduchá agenda
      </span>
      <span class="spacer"></span>
    </mat-toolbar>
  </p>

  <router-outlet></router-outlet>

  <p>
    <mat-toolbar>
      <span class="spacer"></span>
      <mat-icon class="material-icons-round">wind_power</mat-icon>
      <span class="powered-by">
        Poháňa <a href="https://angular.io/">Angulár</a>
      </span>
    </mat-toolbar>
  </p>
</div>
