<div>
  <p>
    <mat-toolbar>
      <mat-icon class="material-icons-round">waving_hand</mat-icon>
      <span class="name">
        {{ applicationName }}
      </span>
      <span class="purpose">
        Tvoja agenda jednoduchá
      </span>
      <span class="spacer"></span>
      <button class="toolbar-button" mat-button routerLink="splash">
        <mat-icon class="material-icons-round">tsunami</mat-icon>
      </button>
      <button class="toolbar-button" mat-button routerLink="agenda">
        <mat-icon class="material-icons-round">fact_check</mat-icon>
      </button>
      <button class="toolbar-button" mat-button (click)="resetData()">
        <mat-icon class="material-icons-round">menu_open</mat-icon>
      </button>
      <button class="toolbar-button" mat-button (click)="writeDataToLocalStorage()">
        <mat-icon class="material-icons-round">cookie</mat-icon>
      </button>
      <button class="toolbar-button" mat-button (click)="clearLocalStorage()">
        <mat-icon class="material-icons-outlined">cookie</mat-icon>
      </button>
      <button class="toolbar-button" mat-button routerLink="poc">
        <mat-icon class="material-icons-round">science</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <router-outlet></router-outlet>

  <p>
    <mat-toolbar>
      <span class="spacer"></span>
      <mat-icon class="material-icons-round">wind_power</mat-icon>
      <span class="powered-by">
        Poháňa <a href="https://angular.io/">Angulár</a>
      </span>
    </mat-toolbar>
  </p>
</div>
